.about-container{
  /*border: 1px solid #0f0;*/
  overflow-x: hidden;
  position: relative;
  /*top:0;*/
  left:0;
  width: 100%;
  /*height: 100%;*/
}

.about-header-container{
  margin-top: 10vw;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align:center;
}

.about-body-copy{
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.3vw;
  text-align: justify;
}

nav {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 2.1vw;
}

nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  margin-right: 3vw;
}

h1{
  font-size: 6vw;
  text-transform: uppercase;
}
