background {
  display:block;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(255,255,255,0.95);
  opacity: 0;
  z-index: 100;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  pointer-events: none;
}

background.open{
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  pointer-events: all;
}

burger {
  display: block;
  position:absolute;
  top: 50%;
  right:3vw;
  width: 4.1vw;
  height: 4.1vw;
  max-height: 21px;
  max-width: 21px;
  z-index: 101;
  cursor: pointer;
  transform: translateY(-50%);
}

burger:hover span{
  background-color: #000;
}

burger span {
  display: block;
  position: absolute;
  width: 100%;
  height: 16%;
  background-color: #222;
  top: 0;
  -webkit-transition: top 0.2s, transform 0.2s, -webkit-transform 0.2s, opacity 0.2s;
  transition: top 0.2s, transform 0.2s, opacity 0.2s;
}

burger span:nth-of-type(2){
  top: 33%;
}

burger span:nth-of-type(3){
  top:66%;

}

burger.open span {
  background-color: #262222;
  top:33%;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.2s, transform 0.2s, -webkit-transform 0.2s, opacity 0.2s;
  transition: top 0.2s, transform 0.2s, opacity 0.2s;
}

burger.open span:nth-of-type(2){
  top:33%;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

burger.open span:nth-of-type(3){
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  opacity:0;
}

nav{
  font-family: 'Libre Baskerville', serif;
  position: fixed;
  z-index: 102;
  top:45%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  opacity: 0;
  pointer-events: none;
}

nav.open {
  display:block;
  top:50%;
  -webkit-transition: top 0.8s, opacity 0.8s;
  transition: top 0.8s, opacity 0.8s;
  opacity: 1;
  pointer-events: all;
}

nav {
  text-align: center;
}

nav a{
  display:block;
  text-decoration: none;
  font-weight: 900;
  font-size: 10vw;
  margin-top:3vw;
  margin-bottom:3vw;
  color: #333;
  letter-spacing: -0.1vw;
  pointer-events: none;
}

nav.open a{
  pointer-events: all;
}

nav a:hover {
   color: #010;
}
