background{
  background: #ff3300;
  position: absolute;
  top:1vh;
  left:50%;
  height: 14vh;
  width: 110%;
  transform: translateY(-50%) translateX(-50%) rotate(-2deg);
}

h1{
  font-size: 6vw;
  text-transform: uppercase;
}

nav {
  /*position: absolute;*/
  /*right: 5vw;*/
  /*top: 3vw;*/
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  margin-right: 3vw;
}

.projects-container{
  /*border: 1px solid #0f0;*/
  overflow-x: hidden;
  position: relative;
  /*top:0;*/
  left:0;
  width: 100%;
  z-index: 100;
  /*height: 100%;*/
}

.projects-header-container{
  margin-top: 10vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.projects-display-container{
  margin-top: 6vw;
  margin-left: 9vw;
  margin-right: 4vw;
}

.project{
  position: relative;
  display:inline-block;
  /*width: 33.1%;*/
  width: 50%;
  padding: 1vw;
  cursor: pointer;
  z-index: 100;

}
.project-info{
  position: relative;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  /*border: 0.1vw solid #aaa;*/
}

.project-info-hover{
  display:none;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align:center;
  color: rgb(0,0,0);
  background-color: rgba(200,0,0,.9);
}

.project-info:hover .project-info-hover{
  display:block;
}

.project-info-hover-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.project img {
  width: 100%;
  pointer-events: none;
  margin: 0px;
  padding:0px;
  display:block;
}

.project h3{
  margin:0;
  padding:0;
  font-size: 3vw;
  text-transform: uppercase;
}

.project h4{
  margin:0;
  padding:0;
  font-size: 1.8vw;
  font-family: 'Libre Baskerville', serif;
}
