

.project-display-container {
  display: none;
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  z-index: 200;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}



h1{
  font-weight: normal;
}

.video{
  width:100%;
  overflow: hidden;
}





.imagery{
  width:100%;
  overflow:hidden;

  background-color: #fff;
  color: #333;

}

.imagery img {
  width:100vw;
  display: block;
}

.imagery .imagery-background-image{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0.1;
}

.imagery .title-copy{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 10vw;
}

.play-button{
  display:block;
  color: #333;
  text-decoration: none;
  text-align: center;
  font-size: 3vw;
  margin-top:3vw;
}

.play-button:hover{
  color: #000;
}

.play-button img{
  display: block;
  width: 5vw;
  height: 5vw;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  transform: translateX(0.5vw);
}

.imagery .title-copy h1 {
  font-size: 6vw;
  margin:0;
}

.imagery .title-copy h3 {
  font-size: 2vw;
  margin:0;
}

.copy{
  padding:5vw;
}
